body {
  overflow-x: hidden;
  width: 100vw;
}

body,
p {
  margin: 0;
}

.page2 {
  display: flex;
  flex-direction: column;
}

.page2 .wrapper {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: start;
}

.page2 .icon-txt-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1em;
  width: 90%;
  margin: 0;
  padding: 0;
}

.page2 .footer {
  width: 100vw;
  position: relative;
}

.page2 .footer img {
  position: absolute;
  right: 2em;
}

.page2 .title {
  padding: 1em 0;
  width: 100%;
  text-align: center;
}

.page2 .title-decor {
  width: 30vw;
}

.page2 .li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.page {
  height: 100vh;
  background-image: url("images/background.jpg");
}

.fadeIn {
  animation: fadeIn 1s ease-in-out forwards;
}

.page1 {
  display: flex;
  flex-wrap: nowrap;
}

.page1,
.page2 {
  font-family: "Bakerie";
}

.page2 {
  font-size: 18.9px;
}

.page1 .biggerTxt {
  font-size: 19.7px;
}

.page1 .smallerTxt {
  font-size: 17px;
}

.typewriter-effect {
  min-height: 1.5em;
}

.page1 .div1 {
  width: 45%;
  height: 100%;
  padding-left: 2em;
  text-align: center;
}

.slideInFadeIn {
  animation: slideInFadeIn 2s ease-in-out forwards;
}

.page1 .logo {
  padding-top: 2em;
}

.page1 .texts {
  display: flex;
  gap: 0.5em;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: start;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.page1 .bold {
  text-indent: 0.25em;
}

.page1 p {
  padding-bottom: 0.5em;
  line-height: 1.5em;
  text-align: start;
}

.page1 .div2 {
  width: 55%;
  height: 100%;
}

.transition-video {
  background-image: linear-gradient(
    to right,
    white 0%,
    rgba(255, 255, 255, 0.5) 1%,
    /* rgba(255, 255, 255, 0.25) 3%, */ transparent 4%
  );
  z-index: 10;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.page1 .video {
  height: 100%;
}

#entrySection {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#playButton {
  background-color: palevioletred;
  font-size: 1.2em;
  font-weight: bold;
  color: white;
  text-shadow: black 1px 1px;
  border-radius: 100px;
  padding: 10px;
  box-shadow: black 5px 5px 15px;
  cursor: pointer;
}

.hidden {
  display: none !important;
}
