body {
  overflow-x: hidden;
  width: 100vw;
}

body * {
  z-index: 0;
}

body,
p {
  margin: 0;
}

.full-page-img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.page2 {
  display: flex;
  flex-direction: column;
}

.page2 .wrapper {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: start;
}

.page2 .icon-txt-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1em 2em;
  width: 90%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.page2 .footer {
  width: 100vw;
  position: relative;
}

.page2 .footer img {
  position: absolute;
  right: 2em;
}

.page2 .title {
  padding: 1em 0;
  width: 100%;
  text-align: center;
}

.page2 .title-decor {
  width: 30vw;
}

.page2 .li {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1em;
}

.page2 .wrapper-reveal-img {
  overflow-x: hidden;
}

.page2 .reveal-image {
  animation: reveal-lr 4s ease-in-out forwards;
}

.page {
  height: 100vh;
  background-image: url("images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.fadeIn {
  animation: fadeIn 1s ease-in-out forwards;
}

.page1 {
  display: flex;
  flex-wrap: nowrap;
}

.page1,
.page2 {
  font-family: "Bakerie";
}

.page2 {
  font-size: 18.9px;
}

.page1 .biggerTxt {
  font-size: 19.7px;
}

.page1 .smallerTxt {
  font-size: 17px;
}

.typewriter-effect {
  min-height: 1.5em;
}

.page1 .div1 {
  width: 45%;
  height: 100%;
  padding-left: 2em;
  text-align: center;
}

.to-slideInFadeIn,
.to-bigSlideInFadeIn {
  opacity: 0;
}

.slideInFadeIn {
  animation: slideInFadeIn 2s ease-in-out forwards;
}

.bigSlideInFadeIn {
  animation: bigSlideInFadeIn 2500ms ease-in-out forwards;
}

.page1 .logo {
  padding-top: 2em;
}

.page1 .texts {
  display: flex;
  gap: 0.5em;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: start;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.page1 .bold {
  text-indent: 0.25em;
}

.page1 p {
  padding-bottom: 0.5em;
  line-height: 1.5em;
  text-align: start;
}

.page1 .div2 {
  width: 55%;
  height: 100%;
}

.transition-video {
  background-image: linear-gradient(
    to right,
    white 0%,
    rgba(255, 255, 255, 0.5) 1%,
    /* rgba(255, 255, 255, 0.25) 3%, */ transparent 4%
  );
  z-index: 10;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.page1 .video {
  height: 100%;
}

#entrySection {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("images/init_bg2_convite.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#playButton {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.hidden {
  display: none !important;
}

.init-left-decor {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
}

.init-right-decor {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
}

.init-play-btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.init-title-wrapper {
  position: absolute;
  top: 5vh;
  display: flex;
  justify-content: center;
}

.init-title {
  width: 500px;
  height: 125px;
  /* border: 1px solid red; */
  position: relative;
  font-family: "Aniyah";
  font-size: 24px;
  /* font-weight: 600; */
}

.init-title span:first-child {
  position: absolute;
  top: 0;
  left: 37%;
}

.init-title span:nth-child(2) {
  position: absolute;
  top: 25%;
  right: 35%;
}

.init-title span:nth-child(3) {
  position: absolute;
  bottom: 0;
  right: 35%;
}

.init-text-1,
.init-text-2,
.init-text-3 {
  font-family: "Caladea";
}

.init-text-1,
.init-text-2,
.init-text-3 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.init-text-1 {
  bottom: 27.5vh;
}

.init-text-2 {
  bottom: 18vh;
}

.init-text-3 {
  bottom: 5vh;
  width: 200px;
  text-align: center;
}

.init-text-1 * {
  width: 15vw;
  text-align: center;
  font-size: large;
}

.init-text-1 div:nth-child(2) {
  border-left: 2px solid rgb(122, 32, 0);
  border-right: 2px solid rgb(122, 32, 0);
  font-size: 40px;
}

.init-text-2 {
}

@media (min-width: 1024px) {
  .page2 .icon-txt-list {
    margin-left: 10vw;
  }
}
