@font-face {
  font-family: "Bakerie";
  src: url("fonts/BakerieRough-Regular.otf") format("truetype");
}

@font-face {
  font-family: "Aniyah";
  src: url("fonts/Aniyah.otf") format("truetype");
}

@font-face {
  font-family: "Eyesome Script";
  src: url("fonts/Eyesome-Script.otf");
}
